.app-user-container {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	text-align: center;
	padding: 20px;
}
.spin{
     -webkit-transform-origin: 50% 50%;
     transform-origin:50% 50%;
     -ms-transform-origin:50% 50%; /* IE 9 */
     -webkit-animation: spin 1.2s infinite linear;
     -moz-animation: spin 1.2s infinite linear;
     -o-animation: spin 1.2s infinite linear;
     animation: spin 1.2s infinite linear;
}
